<!DOCTYPE html>
<html lang="<% if (enableTranslation) { %><%= nativeLanguage %><% } else { %>en<% } %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Armedu Microservice Studio</title>
  <style>
    ::-moz-selection {
      background: #b3d4fc;
      text-shadow: none;
    }

    ::selection {
      background: #b3d4fc;
      text-shadow: none;
    }

    html {
      padding: 30px 10px;
      font-size: 20px;
      line-height: 1.4;
      color: #737373;
      background: #3E8ACC;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    html,
    input {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    body {
      max-width: 1000px;
      _width: 500px;
      padding: 30px 20px 50px;
      border: 1px solid #b3b3b3;
      border-radius: 4px;
      margin: 0 auto;
      box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
      background: #fcfcfc;
    }

    h1 {
      margin: 0 10px;
      font-size: 50px;
      text-align: center;
    }

    h1 span {
      color: #bbb;
    }

    h3 {
      margin: 1.5em 0 0.5em;
    }

    p {
      margin: 1em 0;
    }

    ul {
      padding: 0 0 0 40px;
      margin: 1em 0;
    }

    .container {
      max-width: 800px;
      _width: 380px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Welcome, Armedu Microservice Platform!</h1>

  <p>This application is a microservice, which has been generated using <b>Armedu Microservice Platform</b>, powered by JHipster.</p>

  <ul>

    <li>It is serving REST APIs, under the '/api' URLs.</li>
    <li>OpenAPI documentation endpoint for those APIs is at <a href="./v3/api-docs">/v3/api-docs</a>, and if you want access to the full
      Swagger UI, you should use a <a href="./swagger-ui/index.html?urls.primaryName=springdocDefault">/swagger-ui.html</a>.
    </li>
  </ul>

  
  <p>
    <span>If you like Armedu Microservice Platform, Please drop an email to microservice-info@armedu.in !</span>
  </p>

</div>
</body>
</html>
